.ath-container {
  background-color: #eeeeee;
  color: #000000;
  display: none;
  position: sticky;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  padding: 2%;
}

@media (min-width: 768px) {

  .ath-container {
    padding: 0.5%;
    max-width: 530px;
    margin: auto;
    width: 75%;
  }

}

@media (min-width: 1048px) {

  .ath-container {
    width: 100%;
    position: fixed;
    right: 0;
  }

}

.ath-banner {
  display: grid;
  grid-template-areas: 'logo content' 'cancel install';
  position: relative;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;

}

.ath-banner-cell {
  align-items: center;
}

.ath-logo-cell {
  text-align: center;
  grid-area: logo;
}

.ath-title-cell {
  align-self: center;
  grid-area: content;
}

.ath-install-cell {
  text-align: right;
  grid-area: install;

  .btn {
    display: unset;
  }
}

.ath-cancel-cell {
  grid-area: cancel;
}

.ath-guidance {
  display: none;
  grid-template-areas: 'cancel' 'image';
  position: relative;

  .ath-cancel-cell {
    grid-area: cancel;
    text-align: right;
  }

}

.ath-guidance-image-cell {
  grid-area: image;
  text-align: center;
}

.btn-guidance-cancel {
  cursor: pointer;
  border: 0;
  padding: 2px
}

.ath-prompt-logo {
  border-radius: 30px;
  border: 1px solid black;
}

.ath-banner-title {
  font-weight: bold;
  font-size: large;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

